header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;
    line-height: 84px;
    background-color: #FD4A4D;
    box-sizing: border-box;
    padding: 0 165px;
    font-size: 18px;
    color: #fff;
}
header>div {
    display: flex;
    align-items: center;
}
header img {
    width: 46px;
    height: 54px;
    margin-right: 10px;
}
nav a {
    color: #fff;
    text-decoration: underline;
}
nav a:hover {
    color: black;
}
.menu {
    display: none;
    width: 25px;
    height: 25px;
    border: 1px solid #ddd;
    cursor: pointer;
}
.sub-menu {
    background-color: #FD4A4D;
    padding-left: 15px;
    transition: height 0.3s;
    display: none;
}
.sub-menu p {
    line-height: 30px;
}
h2 {
    text-align: center;
    height: 88px;
    line-height: 88px;
}
h2::after {
    content:"";
    display: block;
    width: 80px;
    height: 6px;
    background-color: #570212;
    margin: 0 auto;
}
.wrapper {
    margin-top: 10px;
}
.row {
    align-items: baseline;
}
.row div {
    text-align: center;
    border-radius: 5px;
    margin-bottom: 15px;
}
.movies, .books {
    background-color: #FEF0EF;
    border: 1px solid #E8D3D1;
    padding: 10px;
}
.row img {
    width: 100%;
    margin-bottom: 10px;
}
.row span {
    font-weight: 600;
}
footer {
    background-color: #810014;
}
footer>div {
    display: flex;
    width: 76%;
    margin: 0 auto;
    padding: 40px 0 60px;
    border-bottom: 2px solid #68000e;
}
footer .row p {
    font-size: 25px;
    color: #fff;
    margin-right: 90px;
    height: max-content;
    margin-top: 80px;
    text-align: left;
}
.footer {
    align-items: unset;
}
/* footer>div>img {
    width: 304px;
    height: 304px;
} */
footer>p {
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 80px;
}

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1460px;
    }
}
@media (max-width: 768px),(max-width: 576px){
    header {
        padding: 0 15px;
    }
    header nav {
        display: none;
    }
    .menu {
        display: block;
    }
    .sub-menu {
        display: block;
        height: 0;
    }
    .footer img {
        width: 210px;
        height: 210px;
    }
}