html, .a-body {
    height: 100%;
}
.a-body {
    display: flex;
    flex-direction: column;
}
.a-body main {
    flex: 1;
}
.about h2 {
    text-align: center;
    font-size: 26px;
    line-height: 76px;
    background-color: #f2f2f2;
    font-weight: normal;
}
.wrapper.about-box {
    display: flex;
    justify-content: space-between;
    margin: 2% auto;
}
#map {
    height: 283px;
    background-color: #666;
    margin: 0 auto;
}
div.about-info {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}
.about-info p {
    line-height: 20px;
    font-size: 14px;
    color: #4e4e4e;
}
.about-info li {
    display: flex;
    align-items: center;
}
.about-info img {
    width: 34px;
    height: 34px;
    margin-right: 20px;
}
@media (max-width:1200px) {
    #map {
        margin-bottom: 20px;
    }
}