.footer-box {
    color: #888;
    font-size: 14px;
    text-align: center;
}
.footer-box>.wrapper,
.footer-box ul {
    display: flex;
}
.footer-box>.wrapper {
    justify-content: space-between;
    margin: 0 auto;
}
.footer-box ul {
    align-self: center;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
}
.footer-box li {
    margin: 0 auto;
}
.footer-box li img {
    margin-bottom: 35px;
}
.code {
    margin: 0 auto;
}
.code img {
    width: 50%;
    height: auto;
    margin: 0 auto 17px;
}
.footer-box p {
    font-size: 12px;
    color: #777;
}
.footer-box li {
    width: 100%;
}
.footer-box li img {
    width: 50%;
    height: auto;
    margin: auto;
}
.footer-box p::before {
    content: "";
    display: block;
    width: 20%;
    height: 2px;
    margin: 1% auto 3.3%;
    background-color: #9b9b9b;
}
@media (max-width:768px) {
    .row {
        margin: 0;
    }
    .footer-box li img {
        width: 40%;
    }
    .footer-box ul {
        flex-wrap: wrap;
    }
    .footer-box li {
        width: 50%;
        margin-bottom: 3%;
    }
}