main {
    width: 100%;
    min-height: 400px;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-container img { 
    width: 100%; 
    cursor: pointer;
}
.swiper-pagination-bullet-active {
    background-color: #E10000;
}
section h2 {
    text-align: center;
    font-size: 30px;
    margin: 36px 0 14px;
}
section ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5.86%;
    background-color: #ddd;
}
section li {
    text-align: center;
}
section img {
    width: 40%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 12%;
}
section span {
    font-size: 24px;
    font-weight: 600;
    color: #333;
}
article h2 {
    text-align: center;
    font-size: 30px;
    margin: 33px 0 44px;
}
article ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
article li {
    margin-bottom: 12px;
    margin: 0 auto;
}
article img {
    width: 500px;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.3s;
}
article img:hover {
    transform: scale(1.1);
}
.img-tag {
    overflow: hidden;
}
.text-tag {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.text-tag h3 {
    font-size: 30px;
    text-align: center;
    line-height: 47px;
    margin-bottom: 4.2%;
}
.text-tag p {
    font-size: 20px;
    cursor: pointer;
}
.text-tag p:hover {
    color: #E10000;
}
.text-tag .ability {
    font-weight: 600;
    white-space:pre-wrap;
}
.ability::before {
    content: "";
    display: block;
    width: 39%;
    height: 2px;
    background-color: #999;
    margin: 30px auto;
}
.news {
    margin-bottom: 6%;
}
.news h2 {
    text-align: center;
    font-size: 30px;
    line-height: 112px;
    margin-bottom: 10px;
}
.news-box {
    display: flex;
    justify-content: space-around;
}
.news-box dl {
    margin-bottom: 2%;
}
.news-box dt {
    overflow: hidden;
}
.news-box img {
    width: 100%;
    height: auto;
    transition: all 0.3s;
    cursor: pointer;
}
.news-box img:hover {
    transform: scale(1.1);
}
.news-box span {
    display: block;
    line-height: 36px;
    font-weight: 600;
    border-bottom: 2px solid #eee;
    margin-bottom: 4px;
}
.news-box p {
    font-size: 14px;
    color: #333;
    line-height: 22px;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    cursor: pointer;
}
.news-box p:hover {
    color: #E10000;
}

@media (max-width: 1200px){
    li.text-tag {
        height: auto;
        margin-bottom: 2%;
        padding: 0;
    }
    li.img-tag {
        padding: 0;
    }
    .img-tag img {
        width: 60%;
        height: auto;
    }
}
@media (max-width:768px) {
    section li {
        margin-bottom: 5%;
    }
    .text-tag p {
        font-size: 16px;
    }
}
@media (max-width:576px) {
    section span {
        font-size: 20px;
    }
    .news-box dl {
        padding: 0;
    }
}