.battle_box {
    flex: 1;
    margin-top: 2%;
}
.ins {
    text-align: center;
    margin-bottom: 2%;
}
.main {
    justify-content: center;
}
.main li {
    text-align: center;
}
.main li h4 {
    font-size: 20px;
}
.main li i {
    padding: 14%;
    background-color: #eee;
    width: 70%;
}
.players_title {
    text-align: center;
    margin: 4% 0 2%;
}
.players {
    text-indent: 5%;
    width: 68%;
    padding: 1% 0;
}
.players_btn {
    width: 30%;
    padding: 1% 0;
    margin-left: 2%;
}
.players_ok {
    align-items: center;
    justify-content: space-between;
    padding: 4%;
    background-color: rgb(238, 238, 238);
    border-radius: 4px;
}
.img_box {
    width: 100%;
}
.img_box img {
    width: 50px;
    height: 50px;
    margin-right: 2%;
    display: inline-block;
}
.img_box span {
    color: #1890ff;
    font-size: 32px;
}
.close_btn {
    border: 0;
}
.close_btn i {
    color: red;
}
.ok_btn {
    margin: 2% auto;
    padding: 1% 2%;
    border-radius: 5px;
}