.loading {
    flex: 1;
    margin-top: 2%;
}
.loading h4 {
    text-align: center;
}
.box {
    flex: 1;
    margin: 2% 0;
}
.main_box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
}
.main_box li {
    width: 10.4%;
    text-align: center;
    padding: 1.67%;
    background-color: rgb(221, 221, 221);
    margin: 0 6.7%;
    box-sizing: content-box;
    border-radius: 10px;
}
.main_box li img {
    width: 100%;
    height: auto;
    margin: 8% 0;
}
.scores {
    margin-bottom: 10%;
}
.name {
    color: #6fafeb;
}
.icon_box {
    margin: 0;
    text-align: left;
}
.tobattle {
    text-decoration: none !important;
}
.tobattle button {
    display: block;
    margin: 0 auto;
    padding: 0.5% 1%;
    border-radius: 4px;
}